\ifx \inmaxwitbook \undefined
\documentclass[a4paper,11pt,oneside]{article}

\input{style}

\lhead[_TITLE_]{\leftmark}
\chead{}
\rhead{\href{http://www.maxwit.com}{MaxWit魔鬼训练营}}

\title{_TITLE_}
\author{MaxWit魔鬼训练营}

%\renewcommand{\baselinestretch}{1.3}
\linespread{1.3}

\begin{document}
\maketitle
\tableofcontents

\newpage

\newcounter{count}
\newcommand{\RefCount}{\arabic{count}\refstepcounter{count}}

\fi

