[Desktop Entry]
Encoding = UTF-8
Name = Eclipse
Terminal = false
StartupNotify = true
Type = Application
Categories = Application;Development;
Comment = Eclipse Integrated Development Environment
Icon = _EPATH_/icon.xpm
Exec = env UBUNTU_MENUPROXY= _EPATH_/eclipse
